.tokendetailscontainer {
  @apply xl:w-2/5 mb-4 xl:mb-0 p-6 rounded-2xl;
  background: radial-gradient(148.85% 148.08% at 54.24% -39.42%, #3D3D7E 11.98%, #1D1D34 100%);

  &_title {
    @apply text-caption-3 leading-caption-3 tablet:text-paragraph-1 tablet:leading-paragraph-1 desktop:text-caption-1 desktop:leading-caption-1 pb-4 font-semibold text-primary-purple-300;
  }
  &_innercontainer {
    &_detailbox {
      @apply py-3;
      &_key {
        @apply text-primary-purple-100 opacity-50 pb-1 text-caption-4 leading-caption-4 tablet:text-caption-3 tablet:leading-caption-3 desktop:text-caption-1 desktop:leading-caption-1 font-semibold;
      }
      &_value {
        @apply text-primary-purple-100 opacity-90 font-medium text-caption-4 leading-caption-4 tablet:text-caption-2 tablet:leading-caption-2 desktop:text-caption-1 desktop:leading-caption-1;
      }
    }
  }
}

.tokenpricegraphcontainer {
  @apply p-6 rounded-2xl mb-2 xl:mb-0;

  @media only screen and (min-width: 1280px) {
    width: calc(theme("width.3/5") - 15px) !important;
  }
  background: radial-gradient(148.85% 148.08% at 54.24% -39.42%, #3D3D7E 11.98%, #1D1D34 100%);
  &_titlecontainer {
    @apply flex flex-col pb-4;
    &_title {
      @apply text-caption-3 leading-caption-3 tablet:text-paragraph-1 tablet:leading-paragraph-1 desktop:text-caption-1 desktop:leading-caption-1 pb-2 font-semibold text-primary-purple-300;
    }
    &_tokensreleased {
      @apply flex items-center w-fit-content;
      &_value {
        @apply text-primary-purple-300 font-semibold text-paragraph-1 leading-paragraph-1;
      }
      &_date {
        @apply text-primary-purple-100 pl-4 w-20 opacity-50 font-medium text-caption-4 leading-caption-4;
      }
    }
  }
}

.otherassetstablecontainer {
  background: radial-gradient(148.85% 148.08% at 54.24% -39.42%, #3D3D7E 11.98%, #1D1D34 100%);
  @apply my-4 rounded-lg;
  &_title {
    @apply mb-2 p-4 text-caption-3 leading-caption-3 tablet:text-paragraph-1 tablet:leading-paragraph-1 desktop:text-caption-1 desktop:leading-caption-1 pb-2 font-semibold text-primary-purple-300 border-b-2 border-dark-200;
  }
  &_innercontainer {
    @apply px-5 py-2.5;
  }
}

.rc-table {
  @apply bg-none pb-6 rounded-b-lg;
  ::-webkit-scrollbar {
    @apply w-1.5 bg-dark-200;
  }
  // ::-webkit-scrollbar:horizontal {
  //   @apply h-1.5 bg-dark-200;
  // }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #A58CFF 0%, #8162F4 33.91%, #4C31B2 113.01%);
    @apply rounded-md h-16 bg-opacity-50;
  }
  // ::-webkit-scrollbar-thumb:horizontal {
  //   background: linear-gradient(180deg, #A58CFF 0%, #8162F4 33.91%, #4C31B2 113.01%);
  //   @apply rounded-md w-16 bg-opacity-50;
  // }
  ::-webkit-scrollbar-track {
    @apply rounded-md;
  }
  .rc-table-cell {
    @apply text-primary-purple-100 text-caption-4 tablet:text-caption-2 font-light tablet:font-medium xl:font-semibold;
  }
  .rc-table-thead {
    th {
      @apply text-primary-purple-100 opacity-50 bg-transparent border-b border-dark-200;
      padding: 6px;
      font-weight: normal;
      &.text-green {
      }
    }
  }
  .rc-table-tbody {
      ::-webkit-scrollbar:vertical {
    @apply w-1.5 bg-dark-200;
  }
  ::-webkit-scrollbar:horizontal {
    @apply h-1.5 bg-dark-200;
  }
  ::-webkit-scrollbar-thumb:vertical {
    background: linear-gradient(180deg, #A58CFF 0%, #8162F4 33.91%, #4C31B2 113.01%);
    @apply rounded-md h-16 bg-opacity-50;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(180deg, #A58CFF 0%, #8162F4 33.91%, #4C31B2 113.01%);
    @apply rounded-md w-16 bg-opacity-50;
  }
  ::-webkit-scrollbar-track {
    @apply rounded-md;
  }
    tr {
      td {
        @apply text-primary-purple-100 bg-transparent border-b border-dark-200;
        padding: 10px 6px;
        &.text-green {
          @apply text-primary-purple-300;
        }
      }
      &:hover {
        td {
          background: rgba(#000000, 0.1);
        }
      }
      // &:last-child {
      //   td {
      //     @apply border-b-0;
      //   }
      // }
    }
  }
}
table {
  width: 100%;
  margin-bottom: 0;
}
