.homescreen {
  @apply h-screen bg-dark-400 flex;

  &_maincontainer {
    @apply flex flex-col justify-center items-start m-auto;
    &_herocontainer {
      @apply px-8 py-8 tablet:pl-16 tablet:pr-12 tablet:-ml-12 laptop:ml-0 tablet:py-16 desktop:py-8 rounded-lg tablet:rounded-2xl desktop:rounded-4xl text-white relative w-80v tablet:w-70v laptop:w-62v flex flex-col items-center tablet:items-start;
background: radial-gradient(148.85% 148.08% at 54.24% -39.42%, #3D3D7E 11.98%, #1D1D34 100%);
      max-width: 960px;
      &_cname {
        @apply flex rounded-lg object-contain w-fit-content px-3 mb-4 py-2.5 text-caption-4 tablet:text-caption-2 leading-caption-4 tablet:leading-caption-2;
        background: radial-gradient(
          143.33% 143.33% at 82.41% -4.96%,
          rgba(170, 132, 214, 0.3) 0%,
          rgba(18, 28, 32, 0.3) 100%
        );
      }
      &_title {
        @apply text-heading-2 leading-heading-2 tablet:text-display-1 tablet:leading-display-1 font-bold laptop:text-display-2 laptop:leading-display-2 desktop:text-display-2 desktop:leading-display-2 desktop:font-semibold w-10/12 tablet:w-11/12 text-center tablet:text-left;
      }
      &_subtitle {
        @apply py-6 desktop:pt-4 desktop:pb-8 text-caption-2 leading-caption-2 tablet:text-subheading tablet:leading-subheading laptop:text-paragraph-1 laptop:leading-paragraph-1 desktop:text-heading-2 desktop:leading-heading-2 text-center tablet:text-left;
      }
      &_button {
        @apply rounded-xl flex px-3 py-2 tablet:px-5 tablet:py-3 tablet:mb-16 laptop:mb-0 laptop:px-6 laptop:py-5 items-center justify-center text-center w-fit-content cursor-pointer;
background: linear-gradient(180deg, #A58CFF 0%, #8162F4 33.91%, #4C31B2 113.01%);
        &_text {
          @apply mr-3 text-caption-3 leading-caption-3 tablet:text-caption-1 tablet:leading-caption-1 desktop:text-paragraph-1 desktop:leading-paragraph-1 font-medium;
        }
        &_icon {
          @apply w-5;
        }
      }
      &_blobglowcube {
        @apply hidden tablet:flex w-48 desktop:w-80 absolute -bottom-0 -right-0;
      }
    }
    &_swapcontainer {
background: radial-gradient(148.85% 148.08% at 54.24% -39.42%, #3D3D7E 11.98%, #1D1D34 100%);
      @apply mt-4 px-4 py-4 tablet:pl-16 tablet:pr-12 tablet:-ml-12 laptop:ml-0 tablet:py-3 desktop:py-3 rounded-lg tablet:rounded-xl desktop:rounded-2xl text-white relative w-80v tablet:w-60v laptop:w-50v desktop:w-40v flex items-center justify-between;
      &_text {
        @apply text-caption-3 leading-caption-3 tablet:text-caption-1 tablet:leading-caption-1 laptop:text-paragraph-1 laptop:leading-paragraph-1 desktop:text-paragraph-2 desktop:leading-paragraph-2 text-center tablet:text-left;
      }
      &_button {
        @apply ml-1 rounded-lg flex px-4 py-1 desktop:px-6 desktop:py-2 items-center justify-center text-center w-fit-content cursor-pointer;
        background: linear-gradient(180deg, #A58CFF 0%, #8162F4 33.91%, #4C31B2 113.01%);
        &_text {
          @apply mr-3  text-caption-4 leading-caption-4 tablet:text-caption-2 tablet:leading-caption-2 laptop:text-caption-2 laptop:leading-caption-2 font-bold text-white;
        }
        &_icon {
          @apply w-3 text-white;
        }
      }
    }
  }
}
