.swapscreen {
  @apply h-screen bg-dark-400 flex;

  &_maincontainer {
    @apply flex flex-col my-28 w-80v laptop:w-75v mx-auto overflow-y-auto;
    &_titlecontainer {
      @apply flex justify-between items-center pb-4;
      &_title {
        @apply text-caption-3 leading-caption-3 tablet:text-paragraph-1 tablet:leading-paragraph-1   ml-4  font-semibold text-white;
      }
      &_tokensdropdown {
        @apply bg-dark-300 rounded-lg p-2.5 text-caption-2 leading-caption-2 text-primary-purple-100 outline-none;
      }
    }
    &_tokencontainer {
      @apply flex flex-row xl:flex-row justify-between pt-8 items-center;
      &_input{
        @apply bg-transparent border mt-2 border-primary-purple-200 rounded-lg w-24 px-1.5 py-1 outline-none text-white text-paragraph-1;
      }
      &_tokensdropdown{
        @apply bg-dark-300 outline-none border px-2 rounded-xl border-primary-purple-200 w-40 text-purple-300 h-14;
        background: radial-gradient(148.85% 148.08% at 54.24% -39.42%, #3D3D7E 11.98%, #1D1D34 100%);
        option{
          background: radial-gradient(148.85% 148.08% at 54.24% -39.42%, #3D3D7E 11.98%, #1D1D34 100%);
        }
      }
      &_left{
        @apply w-5/12 flex px-6 py-4 rounded-xl justify-between items-center; 
        background: radial-gradient(148.85% 148.08% at 54.24% -39.42%, #3D3D7E 11.98%, #1D1D34 100%);
      }
      &_right{
        @apply w-5/12 flex px-6 py-4 rounded-xl justify-between items-center;
        background: radial-gradient(148.85% 148.08% at 54.24% -39.42%, #3D3D7E 11.98%, #1D1D34 100%);
      }
    }
    &_innercontainer {
      @apply flex flex-row justify-between overflow-y-auto rounded-xl text-primary-purple-100 mt-8 px-6 py-6;
      &_left{
        @apply flex-col w-5/12;
        div{
          @apply py-1;
        }
      }
      &_right{
        @apply flex flex-col justify-between w-5/12;
      }
      &_swapbutton{
        @apply px-5 py-3 text-paragraph-2 font-semibold rounded-2xl w-fit-content;
        background: linear-gradient(180deg, #A58CFF 0%, #8162F4 33.91%, #4C31B2 113.01%);
      }
      // background: radial-gradient(148.85% 148.08% at 54.24% -39.42%, #3D3D7E 11.98%, #1D1D34 100%);
      &::-webkit-scrollbar {
        @apply w-1.5 bg-dark-200;
      }
      &::-webkit-scrollbar-thumb {
        @apply rounded-md h-16;
        background: linear-gradient(
          180deg,
          #a58cff 0%,
          #8162f4 33.91%,
          #4c31b2 113.01%
        );
      }
      &::-webkit-scrollbar-track {
        @apply rounded-md;
      }
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}